body {
    background-color: #FAF5FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2D3748;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 10px 0;
}

h1 {
    color: #2D3748;
    font-size: 24px;
}

h2 {
    color: #2D3748;
    font-size: 20px;
}

header {
    text-align: center;
    padding: 20px;
}

main section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E6E6FA;
    padding: 40px 30px;
    margin-bottom: 30px;
    gap: 20px;
    /* Adiciona espaço entre os blocos de texto */
}

main article {
    background-color: #D6BCFA;
    padding: 25px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #2D3748;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    /* Reseta a margem */
}

p {
    margin: 0;
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    gap: 20px;
    /* Adiciona espaço entre as imagens */
}

main section:nth-of-type(2) article {
    padding: 0;
    margin: 0 15px;
}

img {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

img[src*="louvor.jpg"] {
    width: 300px;
    height: 400px;
}

img[src*="igreja.jpg"] {
    width: 550px;
    height: 450px;
}

img[src*="eu.jpg"] {
    width: 350px;
    height: 450px;
}

main section:nth-of-type(3) {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

main section:nth-of-type(3) a {
    border: none;
    background-color: transparent;
}

main section:nth-of-type(3) a:hover {
    transform: scale(1.1);
}

main section:nth-of-type(3) img {
    width: 44px;
    height: 44px;
}